body {
    padding-bottom: 20px;
}

.jumbotron {
    background: #E9ECEF !important;
    padding: 2rem 2rem;
    position: relative;
    /*border-radius: .3rem;*/
}

.jumbotron-close {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.disclaimer h1 {
    font-size: 2.5rem !important;
    line-height: 1.2 !important;
    font-weight: 300 !important;
}

#tool-list a, #integration a {
    font-weight: 500;
    color: black;
    text-decoration: none;
}

#tool-list a:after, #integration a:after {
    content: "";
    width: 11px;
    height: 11px;
    margin-left: 4px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

#tool-list .btn {
    height: 29px !important;
    width: 29px !important;
    padding: 2px !important;
}

.tool-state {
    height: 29px;
}

.tool-description {
    width: 100%;
    text-align: justify;
}

.btn-check:focus + .btn-primary, .btn-primary:focus, .btn-check:focus + .btn-secondary, .btn-secondary:focus, .dropdown-toggle,
.btn-outline-secondary {
    box-shadow: none !important;
}

#protocol, #protocol-alt {
    background: transparent;
    border: transparent;
}

.blinking {
    animation: blink 1s linear infinite;
}

.no-cursor {
    cursor: initial !important;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.edit-mode-alert {
    height: 50px;
    width: 100%;
    background: #198754;
    color: white;
    padding-top: 0.5rem;
    display: none !important;
}

.running-alert {
    height: 50px;
    width: 100%;
    background: #f6a50a;
    color: white;
    padding-top: 0.5rem;
    display: none !important;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.hidden {
    display: none;
}

.selection {
    background: rgba(13, 110, 253, 0.24);
    /* border: 1px solid rgb(0 17 255 / 25%;) */
}

.selection:hover {
    background: rgba(13, 110, 253, 0.3) !important;
}

.tool {
    user-select: none !important;
    transition: opacity 0.4s ease-out;
    opacity: 0;
}

.animated-show {
    opacity: 1 !important;
}

#selection-list li::marker {
    color: transparent;
}

.btn-navbar {
    /* border-radius: initial!important; */
}

.keyword-search-bar {
    padding-top: 20px;
    /*background: rgba(0, 0, 0, 0.03);
    border-radius: 0px 0px 10px 10px;*/
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    border-radius: 50em;
    background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
    background-size: contain;
    opacity: 0;
    pointer-events: none;
}

input[type="search"]:focus::-webkit-search-cancel-button {
    opacity: .3;
    pointer-events: all;
}


.search-bar-icon {
    border: 1px solid #dee2e6 !important;
    border-left: none !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;

    height: 100% !important;
}

#search-bar-input:focus {
    box-shadow: none !important;
    border-color: #dee2e6 !important;
}

.search-bar-icon:hover {
    background: white !important;
    color: #6c757d !important;
}

.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback):not(.enqueue) {
    border-top-left-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
}

.hr {
    opacity: 5%;
}

.enqueue {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.left-border {
    border-left: 4px solid blue;
    padding: 0.5em;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

.accordion-button {
    position: relative;
    display: block;
}

.distance {
    font-weight: bold;
    right: 20px;
    position: absolute;
    display: inline-block;
}

#modules {
    padding: 20px;
    background: #eee;
    margin-bottom: 20px;
    z-index: 1;
    border-radius: 10px;
}

#dropzone {
    padding: 20px;
    background: #eee;
    min-height: 100px;
    margin-bottom: 20px;
    z-index: 0;
    border-radius: 10px;
}

.active {
    outline: 1px solid red;
}

.hover {
    outline: 1px solid blue;
}

.drop-item {
    cursor: pointer;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid rgb(204, 204, 204);
    position: relative;
}

.drop-item .remove {
    position: absolute;
    top: 4px;
    right: 4px;
}

.drag, .drag > a {
    cursor: move;
}

.av-brand {
    /*margin-bottom: 5px;*/
    margin-left: 4px;
}

#toast-container > div {
    opacity: 1;
}

.charts {
    /*background: whitesmoke;*/
}

.canvasjs-chart-credit {
    display: none !important;
}

.chart-row {
    /*box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;*/
    padding: 10px;
}

.chart-row.right {
    border-left: 1px solid rgba(0, 0, 0, .2);
}

.modal-body {
    max-height: 70vh;
    overflow-y: auto;
}

.modal-footer label {
    font-size: 1.2rem;
}

.wrapper {
    position: relative;
}

.overlay {
    position: absolute;
    top: 135px;
    left: 159px;
    pointer-events: none;
}

.overlay h3 {
    font-size: 50px !important;
}

.blurred {
    color: transparent;
    text-shadow: 0 0 5px #d63384;
    -webkit-transition: text-shadow 0s;
    -moz-transition: text-shadow 0s;
}

.blurred:hover {
    color: #d63384;
    text-shadow: 0 0 0 rgba(255, 255, 255, 1);
    -webkit-transition: text-shadow 0.1s;
    -moz-transition: text-shadow 0.1s;
}

@media (max-width: 992px) {
    .no-mobile {
        display: none !important
    }

    .no-mobile-notice {
        display: block !important;
    }

    body {
        position: relative;
        overflow: hidden !important;
    }
}