.btn-check:focus+.btn-primary, .btn-primary:focus, .btn-check:focus+.btn-secondary, .btn-secondary:focus, .dropdown-toggle,
.btn-outline-secondary {
    box-shadow: none!important;
}

#protocol, #protocol-alt {
    background: transparent;
    border: transparent;
}

.blinking {
    animation: blink 1s linear infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.hidden {
    display:none;
}

.selection {
    background: rgba(13, 110, 253, 0.1);
}

.selection:hover {
    background: rgba(13, 110, 253, 0.1)!important;
}

.tool {
    user-select: none!important;
}

#selection-list li::marker {
    color: transparent;
}

.btn-navbar {
    /* border-radius: initial!important; */
}

.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback):not(.enqueue) {
    border-top-left-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
}

.hr {
    opacity: 5%;
}

.enqueue {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}