<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Static CSS -->
    <link rel="stylesheet" href="/static/css/main.min.css">

    <!-- jQuery JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

    <title>%PROJECT_NAME%</title>
</head>
<body>

<!-- Controls -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div>
            <a class="navbar-brand" href="#">%PROJECT_NAME%</a>
            <small class="text-muted">%PROJECT_VERSION%</small>
        </div>
        <form class="d-flex">
            <div class="input-group m-1">

                <div class="btn-group">
                    <button data-bs-toggle="modal" data-bs-target="#launchModal" id="launchAll"
                            class="btn btn-navbar btn-primary"
                            type="submit"><i class="fa fa-forward"></i> Launch All
                    </button>
                    <button type="button" id="launchOptions"
                            class="btn btn-navbar btn-primary dropdown-toggle dropdown-toggle-split"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a id="launch-selected" class="dropdown-item" href="#">Launch Selected</a></li>
                        <li><a id="launch-all" class="dropdown-item" href="#">Launch All</a></li>
                    </ul>
                </div>

                <button data-bs-toggle="modal" data-bs-target="#helpModal" class="btn btn-navbar btn-secondary ms-1"
                        type="button">
                    <i class="fa fa-life-ring"></i> View Help
                </button>
            </div>
        </form>
    </div>
</nav>
<!-- End Controls -->

<!-- Search Bar -->
<div style="display:none;" id="keyword-search-bar" class="container keyword-search-bar ">
    <div class="input-group">
        <input id="search-bar-input" class="form-control border-end-0 border" type="search"
               placeholder="keywords as csv..." id="search-input">
        <span class="input-group-append">
            <button onclick="selectSearch()" class="btn btn-outline-secondary search-bar-icon" type="button">
                <i class="fa fa-search"></i>
            </button>
        </span>
    </div>
</div>
<!-- End Search Bar -->

<!-- Main -->
<div class="container mt-5 mb-5">
    <div class="d-grid gap-1 d-md-flex justify-content-md-end mb-3">

        <button onclick="editTools();" class="btn btn-navbar btn-secondary" type="button">
            <i class="fa fa-cog"></i> Configure Tools
        </button>
        <button onclick="window.location.href = 'index.php?page=integrate';" class="btn btn-navbar btn-secondary"
                type="button">
            <i class="fa fa-plug"></i> Integrate Tool
        </button>
    </div>
    <div id="tool-list" class="list-group">
        %TOOLS_LIST%
    </div>

</div>
<!-- End Main -->

<!-- Help Modal -->
<div class="modal fade" id="helpModal" tabindex="-1" aria-labelledby="helpModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="helpModalLabel">%PROJECT_NAME%</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6>About</h6>
                <ul>
                    <li>Author: %PROJECT_AUTHOR%</li>
                    <li>Version: %PROJECT_VERSION%</li>
                    <li>Description: %PROJECT_DESCRIPTION%</li>
                </ul>
                <hr/>
                <h6>Hotkeys:</h6>
                <kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>S</kbd> &mdash; Open searchbar<br/>
                <kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>A</kbd> &mdash; Select all tools<br/>
                <kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>Z</kbd> &mdash; Deselect all tools
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End Help Modal -->

<!-- Selected Modal -->
<div data-bs-backdrop="static" data-bs-keyboard="false" class="modal fade" id="selectedModal" tabindex="-1"
     aria-labelledby="selectedModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="selectedModalLabel">Launch Flags (Selected)</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="target-url-alt" class="form-label">Your target URL</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">
                        <select name="protocol" id="protocol-alt" value="https">
                          <option value="https">https://</option>
                          <option value="http">http://</option>
                        </select>
                    </span>
                    <input type="text" class="form-control" id="target-url-alt" aria-describedby="basic-addon3">
                </div>

                <label for="selection-list" class="form-label">Your selected tools</label>
                <ul id="selection-list" class="list-group">
                </ul>
            </div>
            <div class="modal-footer">
                <button id="btn-start-selected" type="button" class="btn btn-primary col" data-bs-dismiss="modal"
                        onclick="((event) => { invokeLaunchSelected(event); })()"><i class="fa fa-rocket"></i> Launch
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End Selected Modal -->

<!-- Launch Modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="launchModal" tabindex="-1"
     aria-labelledby="launchModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="launchModalLabel">Launch Flags</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="target-url" class="form-label">Your target URL</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon2">
                        <select name="protocol" id="protocol" value="https">
                          <option value="https">https://</option>
                          <option value="http">http://</option>
                        </select>
                    </span>
                    <input type="text" class="form-control" id="target-url" aria-describedby="basic-addon3">
                </div>
                <div id="furtherFlags">
                    <div class="form-check">
                        <input onclick="if($('#wExclusion').is(':visible'))
                                        { $('#wExclusion').toggle('hidden'); $('#wWhitelist').hide(); }"
                               class="form-check-input" type="radio"
                               name="flag-exceptions" id="without-exceptions" checked>
                        <label class="form-check-label" for="without-exceptions">
                            Without Exceptions
                        </label>
                    </div>
                    <div class="form-check">
                        <input onclick="if(!$('#wExclusion').is(':visible'))
                                        { $('#wExclusion').toggle('hidden'); }" class="form-check-input" type="radio"
                               name="flag-exceptions" id="with-exceptions">
                        <label class="form-check-label" for="with-exceptions">
                            Exclude Scanners
                        </label>
                        <div class="hidden" id="wExclusion">
                            <label class="text-muted" for="exclusion">Exclude...</label>
                            <input oninput="if($('#exclusion').val().indexOf('*') !== -1)
                                            { $('#wWhitelist').toggle('hidden'); }
                                            else if($('#wWhitelist').is(':visible') && $('#exclusion').val().indexOf('*') === -1)
                                            { $('#wWhitelist').toggle('hidden'); }" id="exclusion" class="form-control"
                                   type="text" placeholder="e.g. 1,3,5 or * to exclude all">
                        </div>
                        <div class="hidden" id="wWhitelist">
                            <label class="text-muted" for="whitelist">But except...</label>
                            <input id="whitelist" class="form-control" type="text" placeholder="e.g. 2,4">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary col" data-bs-dismiss="modal"
                        onclick="((event) => { invokeLaunchAll(event); })()"><i class="fa fa-rocket"></i> Launch
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End Launch Modal -->

<!-- Result Modal -->
<div data-bs-backdrop="static" data-bs-keyboard="false" class="modal fade" id="resModal" tabindex="-1"
     aria-labelledby="resModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resModalLabel">Scan Results</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="result-content"></div>
            </div>
            <div class="modal-footer">
                <button onclick="(function(event) {
                    event.preventDefault();
                })(event);" type="button" data-bs-toggle="modal" data-bs-target="#offerModal" class="btn btn-primary"><i class="fa fa-volume-control-phone"></i>
                    Help Offer
                </button>
                <button onclick="(function(event) {
                    event.preventDefault();
                })(event);" type="button" class="btn btn-outline-secondary"><i class="fa fa-print"></i>&nbsp;
                    Print Summary
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End Result Modal -->

<!-- Offer Modal -->
<div class="modal fade" id="offerModal" tabindex="-1" aria-labelledby="offerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="offerModalLabel">Action Recommendation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-6">
                        <h6>Actions:</h6>
                        <div id="modules">
                            <p draggable="true" data-price="45€" class="drag"><a class="btn offer">Text</a></p>
                            <p draggable="true" data-price="50€" class="drag"><a class="btn offer">Textarea</a></p>
                            <p draggable="true" data-price="55€" class="drag"><a class="btn offer">Number</a></p>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <h6>Recommended:</h6>
                        <div id="dropzone"></div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"><i class="fa fa-download"></i> Save</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End Offer Modal -->

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Scanner</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <label for="edit-name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="edit-name">
                    </div>
                    <div class="col">
                        <label for="edit-creator" class="form-label">Creator</label>
                        <input type="text" class="form-control" id="edit-creator">
                    </div>
                    <div class="col">
                        <label for="edit-url" class="form-label">Creator's URL</label>
                        <input type="text" class="form-control" id="edit-url">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="edit-id" class="form-label">ID</label>
                        <input type="text" class="form-control" id="edit-id" readonly>
                    </div>
                    <div class="col">
                        <label for="edit-version" class="form-label">Version</label>
                        <input type="text" class="form-control" id="edit-version">
                    </div>
                    <div class="col">
                        <label for="edit-engine" class="form-label">Engine</label>
                        <input type="text" class="form-control" id="edit-engine">
                    </div>
                    <div class="col">
                        <label for="edit-index" class="form-label">Index File</label>
                        <input type="text" class="form-control" id="edit-index">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="edit-args" class="form-label">CommandLine Arguments</label>
                        <input type="text" class="form-control" id="edit-args">
                    </div>
                    <div class="col">
                        <label for="edit-keywords" class="form-label">Keywords (csv)</label>
                        <input type="text" class="form-control" id="edit-keywords">
                    </div>
                    <div class="col">
                        <label for="edit-description" class="form-label">Description</label>
                        <input type="text" class="form-control" id="edit-description">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <p id="edit-result"></p>
                <button onclick="submitEdit()" type="button" class="btn btn-primary"><i class="fa fa-download"></i> Save
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End Edit Modal -->

</body>

<footer>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <!-- Runtime JS -->
    <script type="text/javascript">
        const DATA = JSON.parse('%TOOLS_JSON%');
    </script>
    <script src="/static/js/bundle.min.js"></script>
    <script src="/static/js/hotkeys.min.js"></script>
    <script src="/static/js/dropzone.min.js"></script>
</footer>
</html>